* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "poppins", sans-serif;


}

body {
    background-color: black;
    color: white;
    font-size: 16px;
    overflow: hidden;


}

header {
    position: fixed;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    z-index: 2;

    & img {
        width: 250px;
    }


    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(03, 200px);

        }
    }

}

section {
    background-image: radial-gradient(#de244f, #d9c700);
    height: 100vw;
    position: relative;


    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;


        & .item {
            position: absolute;
            inset: 0;


            & .car-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;



                & img {
                    width: 100%;
                    transform: rotate(-30deg);

                }

                 &::before{
                     content: '';
                     position: absolute;
                     background-color: #000;
                     width: 100%;
                     height: 100px;
                     top: 150%;
                     left: 50px;
                     border: 50%;
                     filter: blur(50px);
                     
                     
                 }
            }

            & .content {
                position: absolute;
                right: 100px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;


                & .car-information {
                    font-weight: bold;
                }

                & h2 {
                    font-size: 8em;
                    line-height: 1em;
                    justify-content: space-around;
                    font-family: "League Gothic", sans-serif;

                }

                & .description {
                    color: rgb(219, 213, 205);
                    font-size: 12px;
                    text-align: right;
                    max-width: 400px;
                }

                & .if {
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px, purple;
                    background-color: #beff1b;
                    color: black;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: "League Gothic", sans-serif;

                }
            }

        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #fff;
        }




    }




    .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;


        & .number {
            font-size: 5em;
            font-family: "League Gothic", sans-serif;

        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #beff1b;
                border-radius: 5px;
                transition: 0.5s;
            }
        }

        & .active {
            background-color: #fff;
        }
    }

    .arrows {

        width: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;


        & button:nth-child(1) {
            & img {
                transform: scale(-1);

            }






        }

    }

    & button {
        top: 60%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        cursor: pointer;

        & img {
            width: 30px;
            margin-top: 4px;
            cursor: pointer;

        }

        &:hover {

            background-color: #beff1b;

        }



    }
}

/* ANGULO DO CARRO*/

section {

    & .list {
        --calculation: 1;

        & .item {

            transform: translateX(100vw);
            transition: 0.5s;
            opacity: 0;





            & .car-img {
                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;


                }
            }

            & .content {


                & .car-information,
                h2,
                .description,
                .if {
                    transform: translateX(200px);
                    transition: 0.7s;
                    transition-delay: 0.3s;

                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .if {
                    transition-delay: 0.9s;
                }
            }


        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;
            & .car-information,
            h2,
            .description,
            .if {
                transform: translateX(200px);

            }


            & .car-img {
                & img {
                    transform: rotate(-20deg);
                }
            }

        }

    }

    .carros{
        background-color: white;
        height: 500px;
        width: 100%;
    }


}